@media (max-width: 575px) { 
  .catalog {
    padding-bottom: 30px;
    .title {
      margin-top: 20px;
      font-size: 20px;
    }
    &__tabs {
      margin-top: 40px;
    }
    &__tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 40px;
      font-size: 10px;
      line-height: 15px;
      & > div {
        width: 60px;
      }
    }
    &__content {
      margin-top: 35px;
      justify-content: center;
    }
    &-item_img {
      height: 150px;
    }
  }
}