@media (max-width: 575px) { 
  .feed {
    .title {
      font-size: 20px;
    }
    &__item {
      margin-top: 40px;
      flex-direction: column;
      justify-content: center;
      &:nth-child(2){
        margin-top: 40px;
      }
    }
    &__subtitle {
      margin-top: 10px;
    }
    &__img {
      display: block;
      margin: 0 auto;
    }
  }
}